body {
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #111111;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: #044950;
}
